beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
frozendict==2.4.4
html5lib==1.1
idna==3.10
kaleido==0.2.1
lxml==5.3.0
MetaTrader5==5.0.4424
multitasking==0.0.11
numpy==2.1.1
packaging==24.1
pandas==2.2.3
peewee==3.17.6
platformdirs==4.3.6
plotly==5.24.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
tenacity==9.0.0
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git@e6f6aaa7de439ac6e454d9b26d2760ded8dc4923
tzdata==2024.2
urllib3==2.2.3
webencodings==0.5.1
websocket-client==1.8.0
yfinance==0.2.43
